
    <nav class="container nav__wrapper">
        <div class="nav__links">
            <address><a href="/" class="nav__logo__box"><img src="/icons/logoBlack.svg" class="nav__logo" alt="logo"/></a></address>
            <ul class="nav__page">
                <li class="nav__link">

                    <div class="nav__drop-down-menu__box">
                        <a class="nav__link-drop-menu">Каталог</a>
                        <div class="nav__drop-down-menu__icon"></div>
                    </div>

                    <ul class="nav__drop-down-menu">
                        <li class="nav__drop-down-menu__item"><a href="/catalog/personal/">Личный автомобиль</a></li>
                        <li class="nav__drop-down-menu__item"><a href="/catalog/commercial/">Коммерческий автомобиль</a></li>
                        <li class="nav__drop-down-menu__item"><a href="/catalog/special/">Специальный транспорт</a></li>
                    </ul>
                </li>
                <li class="nav__link"><a id="#about" href="/#about" class="nav__anchor">О нас</a></li>
                <li class="nav__link"><a id="#rent" href="/#rent" class="nav__anchor">Об аренде</a></li>
            </ul>
        </div>
        <div class="nav__connection">
            <div class="phone-admin__box">
                <div class="phone__list">
                    {{#each phones}}
                        <div class="phone-admin__item">
                            <a href="tel:{{phone}}" id="{{_id}}" class="nav__phone">{{phoneUI}}</a>
                            {{#if @root.isAuth}}
                                <div class="phone-admin__btn-box">
                                    <button class="btn-admin phone__btn_admin_edit">Редактировать телефон</button>
                                    <button class="btn-admin phone__btn_admin_delete">Удалить телефон</button>
                                </div>
                            {{/if}}
                        </div>
                    {{/each}}

                    {{#if @root.errorPhoneType}}
                        <span class="error-alert error-alert_phone">{{@root.errorPhoneType}}</span>
                    {{/if}}
                    {{#if @root.errorPhoneLength}}
                        <span class="error-alert error-alert_phone">{{@root.errorPhoneLength}}</span>
                    {{/if}}

                </div>
                {{#if isAuth}}
                    <button class="btn-admin phone__btn_admin_add">Добавить телефон</button>
                {{/if}}
            </div>
            
            <button class="btn nav__btn">Оставить заявку</button>
            {{#if isAuth}}
                
                <a href="/auth/logout" class="btn-admin auth__logout">Выйти из админ. панели</a>
                
            {{/if}}
        </div>
    </nav>


