{{>navbar}}

<div class="container">
    <section class="details">
        <div class="details__img-box">
            <div class="details__img-main">
                <img class="details__slider__main-photo" src="{{mainPhoto}}" alt="Фото машины"/>
            </div>
            <ul class="details__slider">
                {{#each machine.photo}}
                    <li class="details__slider__item"><img src="{{this.destination}}/{{this.filename}}" alt="Фото машины"/></li>
                {{/each}}
            </ul>
        </div>
        <div class="details__info">
            <h2 class="details__name-machine">{{machine.nameMachine}}</h2>

            {{#if machine.availability}}
                <span class="details__availability">В наличии</span>
            {{else}}
                <span class="details__availability details__availability_grey">Под заказ</span>
            {{/if}}

            <span class="details__price">{{machine.price}} ₽</span>
                
            <ul class="details__specifications">
                {{#each machine.specifications}}
                    <li class="details__specifications__item">
                        <span class="details__specifications__item-name">{{this.specificationName}}:</span>
                        <span class="details__specifications__item-value">{{this.specificationValue}}</span>
                    </li>
                {{/each}}
            </ul>

            <button class="btn details__btn" id="{{machine._id}}" data-type="{{type}}">Заказать авто</button>
            {{#if isAuth}}
                <button class="btn-admin details__added-photo" id="{{machine._id}}">Добавить фото</button>
                <button class="btn-admin details__delete-photo" id="{{machine._id}}">Удалить фото</button>
                <button class="btn-admin details__avatar-photo" id="{{machine._id}}">Выбрать главное фото</button>
                <button class="btn-admin details__edit-specifications" id="{{machine._id}}">Редактировать характеристики</button>
            {{/if}}
        </div>
    </section>
</div>

{{>footerSection}}
<script src="/{{fileScript}}"></script>